github "ReactiveX/RxSwift" ~> 3.0
github "RxSwiftCommunity/RxDataSources" ~> 1.0
github "bustoutsolutions/siesta" ~> 1.0
github "SwiftyJSON/SwiftyJSON" ~> 3.1.0
github "Quick/Quick" ~> 0.10.0
github "Quick/Nimble" ~> 5.0.0
